<div class="row">
    <div class="large-12 columns">
        <h1 class="text-center">{{kitchen.message}}</h1>
    </div>
    <div class="large-12 columns">
        <ul>
            <li ng-repeat="order in kitchen.orders | orderBy: 'timestamp' ">
                <a href="" ng-click="kitchen.doneOrder(order)" ng-class="{done: order.done}">
                    Table {{order.table}}: {{order.timestamp | date: 'HH:mm:ss' }} - {{order.name}}
                </a>
                <span ng-show="order.done"> 
                   <a href="" ng-click="kitchen.deleteOrder(order)"> X</a>
                </span>
            </li>
        </ul>
    </div>
</div>